@import url("<https://fonts.googleapis.com/css2?family=Yellowtail&display=swap>");

body {
  width: 100%;
  height: 100%;
  background-color: #a6979c;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    max-width: calc(100% - 20px);
    margin: 0 auto;

    .title {
      font-family: "YellowTail", sans-serif;
      font-size: 32pt;
      color: #42383b;
    }

    .task-done {
      text-decoration: line-through;
    }

    form {
      width: 100%;
      display: flex;

      input[type="text"] {
        height: 30px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        padding: 5px;
        outline-color: #42383b;
        font-size: 14pt;
      }

      button {
        background-color: #42383b;
        color: #fff;
        border: 0;
        padding: 0 20px;
        border-radius: 0 5px 5px 0;
        font-size: 14pt;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      td:first-child {
        table-layout: fixed;
        width: 20px;
      }

      td:nth-child(2) {
        padding: 10px 20px;
        font-size: 14pt;
      }

      tr:nth-child(even) {
        background-color: #8e7b81;
      }
    }
  }
}
